@font-face {
  font-weight: normal;
  font-family: "Geometria";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Geometria-Medium.woff2") format("woff2"), url("../fonts/Geometria-Medium.woff") format("woff"); }

@font-face {
  font-weight: bold;
  font-family: "Geometria";
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff"); }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

img {
  width: 100%;
  height: auto; }

body {
  min-width: 320px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  font-family: "Geometria", "Arial", sans-serif;
  color: #8E80A9;
  background-color: #FCF8FE;
  background-repeat: no-repeat;
  background-size: contain; }

.webp.lazy {
  background-image: none; }

.webp {
  background-image: url("../img/bg-clouds-mobile@1x.webp"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .webp {
      background-image: url("../img/bg-clouds-mobile@2x.webp"); } }

@media (min-width: 768px) {
  .webp {
    background-image: url("../img/bg-clouds-tablet@1x.webp"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .webp {
      background-image: url("../img/bg-clouds-tablet@2x.webp"); } }

@media (min-width: 1440px) {
  .webp {
    background-image: url("../img/bg-clouds-desktop@1x.webp"); } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
    .webp {
      background-image: url("../img/bg-clouds-desktop@2x.webp"); } }

.no-js .lazyload {
  display: none; }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
            transform: scale3d(1.2, 1.2, 1.2); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@-webkit-keyframes pulse-min {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes pulse-min {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05); }
  to {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@-webkit-keyframes rotate180 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@keyframes rotate180 {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@-webkit-keyframes gradient {
  from {
    background-position: center center, -112px 50%; }
  to {
    background-position: center center, 0 50%; } }

@keyframes gradient {
  from {
    background-position: center center, -112px 50%; }
  to {
    background-position: center center, 0 50%; } }

@-webkit-keyframes gradient-rev {
  from {
    background-position: center center, 0 50%; }
  to {
    background-position: center center, -112px 50%; } }

@keyframes gradient-rev {
  from {
    background-position: center center, 0 50%; }
  to {
    background-position: center center, -112px 50%; } }

@-webkit-keyframes jump {
  from {
    bottom: 0;
    opacity: 1; }
  to {
    bottom: -6px;
    opacity: 0; } }

@keyframes jump {
  from {
    bottom: 0;
    opacity: 1; }
  to {
    bottom: -6px;
    opacity: 0; } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.button {
  background-color: #8E80A9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px 13px;
  border: none;
  cursor: pointer; }
  .button--right {
    background-image: url("../img/icon-arrow-right.svg"); }
  .button--left {
    background-image: url("../img/icon-arrow-left.svg"); }
  .button--reviews {
    width: 31px;
    height: 16px;
    background-size: 6px 10px; }
  .button--team {
    position: absolute;
    top: 77px;
    width: 16px;
    height: 31px;
    background-size: 6px 10px; }
    .button--team-left {
      left: 15px; }
    .button--team-right {
      right: 15px; }

@media (min-width: 768px) {
  .button--card {
    width: 30px;
    height: 20px; }
  .button--team {
    position: static;
    top: auto;
    width: 29px;
    height: 19px;
    vertical-align: middle; }
  .button--reviews {
    width: 29px;
    height: 19px; } }

@media (min-width: 1440px) {
  .button {
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out; }
    .button--card {
      width: 45px;
      height: 30px; }
    .button--team {
      width: 45px;
      height: 30px;
      background-size: 11px 17px; }
    .button--reviews {
      position: absolute;
      width: 45px;
      height: 30px;
      background-size: 8px 13px; }
      .button--reviews-left {
        left: -22px; }
      .button--reviews-right {
        right: -22px; }
    .button:hover:not(:disabled), .button:focus:not(:disabled) {
      background-color: #412A6E;
      -webkit-animation: pulse-min 0.3s ease-out;
              animation: pulse-min 0.3s ease-out; }
    .button:active {
      background-color: #E65C7B; } }

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 19px 35px 68px; }

.page-header__toggle {
  margin-left: -20px;
  padding: 0;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer; }

.page-header__svg {
  -webkit-transition: stroke 0.1s ease-out;
  transition: stroke 0.1s ease-out;
  stroke: #8e80a9; }

.page-header__phone {
  margin-right: -20px;
  font-size: 12px;
  color: #8E80A9;
  -webkit-transition: color 0.1s ease-out;
  transition: color 0.1s ease-out; }
  .page-header__phone:hover, .page-header__phone:focus {
    color: #412A6E; }
  .page-header__phone:active {
    color: #E65C7B; }

@media (min-width: 768px) {
  .page-header {
    padding: 35px 66px 81px 76px; }
  .page-header__toggle {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 0;
    font: inherit;
    font-size: 12px;
    line-height: 20px;
    color: #8E80A9; }
  .page-header__svg {
    width: 13px;
    height: 7px;
    margin-right: 3px; }
  .page-header__phone {
    margin-right: 0;
    line-height: 20px; } }

@media (min-width: 1440px) {
  .page-header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 66px 140px 136px 140px; }
  .page-header__toggle {
    font-size: 16px;
    line-height: 15px;
    -webkit-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out; }
    .page-header__toggle:hover, .page-header__toggle:focus {
      color: #412A6E; }
      .page-header__toggle:hover .page-header__svg, .page-header__toggle:focus .page-header__svg {
        stroke: #412A6E; }
    .page-header__toggle:active {
      color: #E65C7B; }
      .page-header__toggle:active .page-header__svg {
        stroke: #E65C7B; }
  .page-header__svg {
    width: 24px;
    height: 12.5px;
    margin-right: 8px; }
  .page-header__phone {
    font-size: 16px; } }

.first-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 65px; }

.first-page__slogan {
  height: 0;
  margin: 0;
  padding-top: 18px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position-x: center; }

.webp .lazy.first-page__slogan {
  background-image: none; }

.webp .first-page__slogan {
  background-image: url("../img/img-slogan-mobile@1x.webp"); }

.first-page__title {
  margin: 0 -0.25em 9px 0;
  font-weight: normal;
  font-size: 67px;
  line-height: 115%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  text-shadow: 0 4px 50px rgba(131, 115, 161, 0.6); }

.first-page__link {
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  width: 174px;
  padding-left: 35px;
  line-height: 120%;
  color: #E65C7B; }
  .first-page__link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -1px;
    width: 30px;
    height: 26px;
    background-color: #E65C7B;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5px 10px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .first-page__link:active {
    color: #412A6E; }

.first-page__city {
  display: none; }

@media (min-width: 768px) {
  .first-page {
    margin-top: 50px; }
  .first-page__slogan {
    margin-right: 140px;
    margin-bottom: 10px;
    padding-top: 23px; }
  .webp .first-page__slogan {
    background-image: url("../img/img-slogan-tablet@1x.webp"); }
  .first-page__title {
    margin-right: -0.35em;
    margin-bottom: 3px;
    word-break: break-all;
    font-size: 144px;
    line-height: 90%;
    letter-spacing: 0.35em; }
  .first-page__link {
    margin-right: -10px;
    margin-bottom: 58px; }
  .first-page__city {
    display: block;
    margin-bottom: -5px;
    font-size: 12px;
    text-align: right; } }

@media (min-width: 1440px) {
  .first-page {
    margin-top: 106px; }
  .first-page__slogan {
    margin-right: 250px;
    margin-bottom: 49px;
    padding-top: 42px; }
  .webp .first-page__slogan {
    background-image: url("../img/img-slogan-desktop@1x.webp"); }
  .first-page__title {
    margin-bottom: 10px;
    font-size: 265px;
    line-height: 80%; }
  .first-page__link {
    width: 260px;
    margin-right: 36px;
    margin-bottom: 132px;
    padding-left: 68px;
    font-size: 14px;
    line-height: 150%;
    -webkit-transition: color 0.3s ease-out, text-shadow 0.5s ease-out;
    transition: color 0.3s ease-out, text-shadow 0.5s ease-out; }
    .first-page__link::before {
      width: 56px;
      height: 48px;
      background-image: url("../img/icon-arrow.svg"), -webkit-gradient(linear, left top, right top, color-stop(50%, #8E80A9), to(#e65c7b));
      background-image: url("../img/icon-arrow.svg"), linear-gradient(90deg, #8E80A9 50%, #e65c7b 100%);
      background-repeat: no-repeat;
      background-position: center center, -112px center;
      background-size: 14px 20px, 112px 48px;
      -webkit-animation: gradient-rev 0.3s ease-out;
              animation: gradient-rev 0.3s ease-out; }
    .first-page__link::after {
      content: "";
      position: absolute;
      right: 260px;
      bottom: -3px;
      left: 0;
      z-index: 2;
      height: 2px;
      background-color: #8E80A9;
      -webkit-transition: right 0.1s ease-out;
      transition: right 0.1s ease-out; }
    .first-page__link:hover, .first-page__link:focus {
      color: #8E80A9;
      text-shadow: 0 3px 4px #8E80A9;
      outline: none; }
      .first-page__link:hover::before, .first-page__link:focus::before {
        -webkit-animation: gradient 0.5s ease-out forwards;
                animation: gradient 0.5s ease-out forwards; }
      .first-page__link:hover::after, .first-page__link:focus::after {
        right: 0;
        -webkit-transition: right 0.5s ease-out 0.1s;
        transition: right 0.5s ease-out 0.1s; }
  .first-page__city {
    font-size: 16px; } }

.directions {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 35px 7px;
  background-repeat: no-repeat;
  background-position: left 145px; }

.webp .lazy.directions {
  background-image: none; }

.webp .directions {
  background-image: url("../img/bg-yoga-patterns-mobile@1x.webp"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .webp .directions {
      background-image: url("../img/bg-yoga-patterns-mobile@2x.webp");
      background-size: 216px 494px; } }

.directions__title {
  margin: 0 0 38px; }

.directions__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.directions__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2); }

.directions__img {
  display: block;
  background-color: #4e4e4e;
  -o-object-fit: cover;
     object-fit: cover; }

.directions__info-wrapper {
  position: relative;
  width: 100%;
  padding: 16px 20px 15px;
  background-color: #ffffff; }

.directions__name {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 12px; }

.directions__days {
  margin: 0; }
  .directions__days:last-of-type {
    margin-bottom: 4px; }

.directions__instructor {
  color: #E65C7B; }

.directions__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17%; }

.directions__link-more {
  display: none; }

@media (min-width: 768px) {
  .directions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 67px 120px 78px;
    background-position: left -20px; } }

@media (min-width: 768px) {
  .webp .directions {
    background-image: url("../img/bg-yoga-patterns-tablet@1x.webp"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .webp .directions {
      background-image: url("../img/bg-yoga-patterns-tablet@2x.webp");
      background-size: 693px 397px; } }

@media (min-width: 768px) {
  .directions__title {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 40px; }
  .directions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 57%;
        flex-basis: 57%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .directions__item {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 19px; }
    .directions__item--main {
      -ms-flex-preferred-size: 39.2%;
          flex-basis: 39.2%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 0;
      background-color: #ffffff; }
    .directions__item:nth-last-child(2):not(.directions__item--main) {
      margin-bottom: 35px; }
    .directions__item:last-child {
      margin-top: auto;
      margin-bottom: 0; }
  .directions__picture-wrapper {
    position: relative;
    width: 42%;
    padding-bottom: 34%;
    overflow: hidden; }
  .directions__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -o-object-fit: fill;
       object-fit: fill; }
    .directions__img--main {
      position: static;
      top: auto;
      left: auto;
      width: 100%;
      height: auto;
      -webkit-transform: none;
              transform: none; }
  .directions__info-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 58%;
    padding: 19px 45px 17px 19px; }
    .directions__info-wrapper--main {
      width: 100%;
      height: 100%; }
  .directions__name {
    margin-bottom: 4px; }
  .directions__days:last-of-type {
    margin-bottom: 7px; }
  .directions__link {
    position: absolute;
    top: auto;
    right: 24px;
    bottom: 27px;
    width: 30px; }
    .directions__link--main {
      top: 0;
      right: 0;
      bottom: 0;
      width: 17%; }
  .directions__link-more {
    display: block;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 10px 9px 7px 0;
    text-align: center;
    color: #8E80A9;
    background-color: #ffffff;
    -webkit-box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
            box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2); } }

@media (min-width: 1440px) {
  .directions {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 275px 125px 240px;
    background-position: 58% -61px; } }

@media (min-width: 1440px) {
  .webp .directions {
    background-image: url("../img/bg-yoga-patterns-desktop@1x.webp"); } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
    .webp .directions {
      background-image: url("../img/bg-yoga-patterns-desktop@2x.webp");
      background-size: 1257px 722px; } }

@media (min-width: 1440px) {
  .directions__title {
    margin-bottom: 67px;
    margin-left: 30px; }
  .directions__list {
    -ms-flex-preferred-size: 56.8%;
        flex-basis: 56.8%; }
  .directions__item {
    margin-bottom: 28px; }
    .directions__item:nth-last-child(2):not(.directions__item--main) {
      margin-bottom: 57px; }
    .directions__item:last-child {
      margin-top: 0;
      margin-bottom: 0; }
    .directions__item--main {
      -ms-flex-preferred-size: 39.5%;
          flex-basis: 39.5%; }
  .directions__info-wrapper {
    width: 305px;
    padding: 33px 80px 32px 35px; }
    .directions__info-wrapper--main {
      width: 100%;
      padding: 42px 46px 25px; }
  .directions__name {
    margin-bottom: 13px;
    font-size: 16px; }
  .directions__days {
    font-size: 12px;
    line-height: 20px; }
    .directions__days:last-of-type {
      margin-bottom: 15px; }
  .directions__instructor {
    font-size: 12px;
    -webkit-transition: color 0.3s ease-out, text-shadow 0.3s ease-out;
    transition: color 0.3s ease-out, text-shadow 0.3s ease-out; }
    .directions__instructor:hover, .directions__instructor:focus {
      color: #412A6E;
      text-shadow: 0 3px 4px #8E80A9; }
    .directions__instructor:active {
      color: #E65C7B; }
  .directions__link {
    right: 36px;
    bottom: 37px;
    width: 45px; }
    .directions__link--main {
      top: 0;
      right: 0;
      bottom: 0;
      width: 17%; }
  .directions__link-more {
    padding: 16px;
    font-size: 12px;
    -webkit-transition: color 0.3s ease-out, text-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    transition: color 0.3s ease-out, text-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
    transition: color 0.3s ease-out, text-shadow 0.3s ease-out, box-shadow 0.3s ease-out;
    transition: color 0.3s ease-out, text-shadow 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out; }
    .directions__link-more:hover, .directions__link-more:focus {
      color: #412A6E;
      text-shadow: 0 3px 4px #8E80A9;
      -webkit-box-shadow: 0 10px 9px rgba(30, 30, 44, 0.5);
              box-shadow: 0 10px 9px rgba(30, 30, 44, 0.5); }
    .directions__link-more:active {
      color: #E65C7B; } }

.subscriptions {
  position: relative;
  padding: 0 35px 68px;
  background-repeat: no-repeat;
  background-position: center 107%;
  background-size: 100%; }
  .subscriptions::after {
    content: "";
    position: absolute;
    top: 36px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }

.webp .lazy.subscriptions {
  background-image: none; }

.webp .subscriptions {
  background-image: url("../img/bg-subs-patterns-mobile@1x.webp"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .webp .subscriptions {
      background-image: url("../img/bg-subs-patterns-mobile@2x.webp");
      background-size: 307px 274px; } }
  .webp .subscriptions::after {
    background-image: url("../img/bg-subs-clouds-mobile@1x.webp"); }
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      .webp .subscriptions::after {
        background-image: url("../img/bg-subs-clouds-mobile@2x.webp"); } }

.subscriptions__title {
  margin: 0 0 34px; }

.subscriptions__form {
  margin-bottom: 31px; }

.subscriptions__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.subscriptions__item:not(:last-child) {
  margin-bottom: 30px; }

.subscriptions__wrapper {
  padding: 24px 51px 30px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2); }

.subscriptions__name {
  margin: 0 0 11px;
  font-size: 16px;
  line-height: 125%; }

.subscriptions__time {
  margin: 0 0 10px;
  color: #E65C7B; }

.subscriptions__price {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px; }

.subscriptions__link {
  display: block;
  padding: 10px 23px 9px;
  color: #ffffff;
  background-color: #8E80A9; }

@media (min-width: 768px) {
  .subscriptions {
    padding: 0 67px 108px 78px; }
    .subscriptions::after {
      top: -295px;
      height: 1000px;
      background-size: 100%; } }

@media (min-width: 768px) {
  .webp .subscriptions {
    background-image: none; }
    .webp .subscriptions::after {
      background-image: url("../img/bg-subs-clouds-tablet@1x.webp"); } }
    @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
      .webp .subscriptions::after {
        background-image: url("../img/bg-subs-clouds-tablet@2x.webp"); } }

@media (min-width: 768px) {
  .subscriptions__title {
    margin-bottom: 21px; }
  .subscriptions__form {
    margin-bottom: 42px; }
  .subscriptions__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .subscriptions__item {
    width: 28.2%; }
    .subscriptions__item:not(:last-child) {
      margin-bottom: 20px; }
    .subscriptions__item--main {
      width: 35.6%; }
  .subscriptions__wrapper {
    width: 100%;
    margin-bottom: 0;
    padding: 38px 36px 29px; }
    .subscriptions__wrapper--main {
      width: 100%;
      padding-bottom: 39px; }
  .subscriptions__name {
    margin-bottom: 7px;
    font-size: 18px; }
  .subscriptions__time {
    margin-bottom: 13px; }
  .subscriptions__price {
    margin-bottom: 0;
    font-size: 21px; }
    .subscriptions__price--main {
      margin-bottom: 19px; }
  .subscriptions__link {
    display: none; }
    .subscriptions__link--main {
      display: block; } }

@media (min-width: 1440px) {
  .subscriptions {
    padding: 0 255px 145px 254px; }
    .subscriptions::after {
      top: -140px;
      height: 1000px;
      background-size: 100%; } }

@media (min-width: 1440px) {
  .webp .subscriptions::after {
    background-image: url("../img/bg-subs-clouds-desktop@1x.webp"); } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
    .webp .subscriptions::after {
      background-image: url("../img/bg-subs-clouds-desktop@2x.webp"); } }

@media (min-width: 1440px) {
  .subscriptions__title {
    margin-bottom: 57px; }
  .subscriptions__form {
    margin-bottom: 52px; }
  .subscriptions__list {
    max-width: 931px;
    margin: 0 auto; }
  .subscriptions__item {
    -webkit-perspective: 1000px;
            perspective: 1000px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
  .subscriptions__wrapper {
    padding: 57px 55px 55px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s; }
    .subscriptions__wrapper--main {
      padding: 57px 54px; }
  .subscriptions__name {
    margin-bottom: 18px; }
  .subscriptions__time {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 20px; }
    .subscriptions__time--main {
      margin-bottom: 28px; }
  .subscriptions__price {
    font-size: 30px; }
    .subscriptions__price--main {
      margin-bottom: 37px; }
  .subscriptions__link {
    font-size: 12px;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out; }
    .subscriptions__link--main {
      padding: 18px 23px 19px; }
    .subscriptions__link:hover, .subscriptions__link:focus {
      background-color: #412A6E;
      -webkit-animation: pulse-min 0.3s ease-out;
              animation: pulse-min 0.3s ease-out; }
    .subscriptions__link:active {
      background-color: #E65C7B; } }

.month-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.month-select__radio {
  position: relative;
  font-size: 12px;
  color: #E65C7B;
  cursor: pointer; }
  .month-select__radio::before {
    content: "";
    position: absolute;
    right: 51%;
    bottom: 0;
    left: 51%;
    z-index: -1;
    height: 1px;
    background: #E65C7B;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: left, right;
    transition-property: left, right; }

.month-select__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.month-select__input:checked + .month-select__radio::before {
  right: 0;
  left: 0;
  background: #E65C7B; }

.month-select__input:hover + .month-select__radio::before,
.month-select__input:focus + .month-select__radio::before {
  right: 0;
  left: 0;
  background: #412A6E;
  -webkit-animation: jump 0.8s infinite;
          animation: jump 0.8s infinite; }

@media (min-width: 768px) {
  .month-select {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 38%;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 1440px) {
  .month-select {
    width: 31%; } }

.team {
  position: relative;
  padding: 0 46px 61px;
  background-repeat: no-repeat;
  background-position: 0 -6%; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .team {
      background-position: left -19px;
      background-size: contain; } }

.webp .lazy.team {
  background-image: none; }

.webp .team {
  background-image: url("../img/bg-team-patterns-mobile@1x.webp"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .webp .team {
      background-image: url("../img/bg-team-patterns-mobile@2x.webp"); } }

.team__title {
  margin: 0; }

.team__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  min-height: 455px;
  padding-top: 37px;
  overflow: hidden; }

.team__item {
  position: absolute;
  width: 100%; }

.team__column-left {
  margin-bottom: 21px; }

.team__cards-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.team__instructor-name {
  display: none; }

.team__skill {
  margin: 0 0 11px;
  color: #E65C7B; }

.team__description {
  margin: 0 0 6px; }
  .team__description:last-child {
    margin-bottom: 0; }

.team__counter {
  display: none; }

@media (min-width: 768px) {
  .team {
    padding: 0 67px 136px 78px;
    background-repeat: no-repeat;
    background-position: 0 19%;
    background-size: contain; } }

@media (min-width: 768px) {
  .webp .team {
    background-image: url("../img/bg-team-patterns-tablet@1x.webp"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .webp .team {
      background-image: url("../img/bg-team-patterns-tablet@2x.webp"); } }

@media (min-width: 768px) {
  .team__title {
    margin-bottom: 35px; }
  .team__list {
    min-height: 380px;
    margin-bottom: 1px; }
  .team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .team__column-left {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    margin-right: 43px;
    margin-bottom: 0; }
  .team__cards-list {
    margin-bottom: 28px; }
  .team__cards-item {
    margin-bottom: 57px; }
    .team__cards-item:last-child {
      margin-bottom: 0; }
  .team__buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 165px; }
  .team__column-right {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  .team__instructor-name {
    display: block;
    margin: 0 0 6px;
    font-size: 16px; }
  .team__skill {
    font-size: 12px; }
  .team__description {
    margin-bottom: 15px; }
  .team__counter {
    display: block;
    margin: 0 12px 0 10px;
    font-size: 12px; }
  .team__counter--end {
    font-size: 10px; } }

@media (min-width: 1440px) {
  .team {
    padding: 0 232px 141px 232px;
    background-repeat: no-repeat;
    background-position: 94% 5%;
    background-size: 41%; }
    .team::after {
      content: "";
      position: absolute;
      top: -33px;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 1326px;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 1084px; } }

@media (min-width: 1440px) {
  .webp .team {
    background-image: url("../img/bg-subs-patterns-desktop@1x.webp"); } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
    .webp .team {
      background-image: url("../img/bg-subs-patterns-desktop@2x.webp"); } }

@media (min-width: 1440px) {
    .webp .team::after {
      background-image: url("../img/bg-team-patterns-desktop@1x.webp"); } }
    @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
      .webp .team::after {
        background-image: url("../img/bg-team-patterns-desktop@2x.webp"); } }

@media (min-width: 1440px) {
  .team__title {
    margin-right: 45px;
    margin-bottom: 66px; }
  .team__list {
    width: 976px;
    min-height: 593px;
    margin: 0 auto;
    padding-top: 56px; }
  .team__column-left {
    -ms-flex-preferred-size: 422px;
        flex-basis: 422px; }
  .team__cards-list {
    margin-bottom: 44px; }
  .team__cards-item {
    margin-bottom: 89px; }
  .team__buttons-wrapper {
    width: 156px;
    margin: 0 auto;
    -webkit-transform: translateX(-145px);
            transform: translateX(-145px); }
  .team__counter {
    display: block;
    margin: 0 15px 0 20px;
    font-size: 16px; }
  .team__counter--end {
    font-size: 12px; }
  .team__column-right {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 487px;
        flex-basis: 487px; }
  .team__instructor-name {
    margin-bottom: 16px;
    font-size: 18px; }
  .team__skill {
    margin-bottom: 27px;
    font-size: 14px; }
  .team__description {
    font-size: 12px;
    line-height: 20px; } }

.card {
  display: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2); }
  .card--hatha {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.card__avatar {
  display: block;
  -ms-flex-preferred-size: 82px;
      flex-basis: 82px;
  background-color: #4e4e4e; }

.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 64%;
      flex-basis: 64%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 20px 16px 15px;
  background-color: #ffffff; }

.card__sub-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .card__sub-wrapper:last-child {
    margin-top: 4px; }

.card__info {
  margin: 0;
  color: #E65C7B; }

.card__direction {
  margin: 0; }

.card__watch-link {
  display: none; }

@media (min-width: 768px) {
  .card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .card__avatar {
    position: absolute;
    top: -36px;
    left: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 91px; }
  .card__wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-height: 67px;
    margin-left: 15px;
    padding: 11px 12px 6px 83px;
    -webkit-box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
            box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2); }
  .card__sub-wrapper:last-child {
    margin-top: 0; }
  .card__watch-link {
    display: block;
    margin-bottom: 5px;
    color: #8E80A9;
    border-bottom: 1px solid #8E80A9; } }

@media (min-width: 1440px) {
  .card__avatar {
    top: -56px;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 143px; }
  .card__wrapper {
    min-height: 105px;
    margin-left: 23px;
    padding: 19px 26px 20px 141px; }
  .card__info {
    font-size: 12px;
    line-height: 20px; }
  .card__direction {
    font-size: 12px; }
  .card__watch-link {
    margin-bottom: 0;
    font-size: 12px;
    -webkit-transition: color 0.3s ease-out, text-shadow 0.3s ease-out;
    transition: color 0.3s ease-out, text-shadow 0.3s ease-out; }
    .card__watch-link:hover, .card__watch-link:focus {
      color: #412A6E;
      text-shadow: 0 3px 4px #8E80A9; }
    .card__watch-link:active {
      color: #E65C7B; } }

.reviews {
  padding: 0 35px 70px; }

.reviews__title {
  margin: 0; }

.reviews__list {
  position: relative;
  min-height: 338px;
  margin: 0 auto;
  padding-top: 38px;
  overflow: hidden; }

.reviews__item {
  position: absolute;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin: 0 auto;
  padding: 60px 15px 25px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
          box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2); }
  .reviews__item::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 16px;
    width: 27px;
    height: 23px;
    background-image: url("../img/icon-quotes.svg"); }

.reviews__text {
  margin: 0 0 15px; }
  .reviews__text:last-of-type {
    margin-bottom: 24px; }

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reviews__avatar {
  width: 80%;
  margin-right: 13px; }

.reviews__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -4px; }

.reviews__author {
  font-size: 12px;
  line-height: 20px;
  color: #E65C7B;
  font-style: normal; }

.reviews__date {
  margin-bottom: 7px;
  color: rgba(142, 128, 169, 0.7); }

.reviews__slider-wrapper {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 106px;
  margin: 0 auto; }

.reviews__counter {
  margin: 0;
  font-size: 12px; }

.reviews__end {
  font-size: 10px; }

@media (min-width: 768px) {
  .reviews {
    padding: 0 158px 137px 168px; }
  .reviews__title {
    margin-bottom: 1px; }
  .reviews__list {
    min-height: 410px;
    margin-bottom: -10px; }
  .reviews__item {
    margin: 0 0 18px;
    padding: 72px 55px 25px 87px; }
    .reviews__item::before {
      top: 33px;
      left: 90px; }
  .reviews__text {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 20px; }
    .reviews__text:last-of-type {
      margin-bottom: 22px; } }

@media (min-width: 1440px) {
  .reviews {
    position: relative;
    width: 905px;
    margin: 0 auto;
    padding: 0 0 120px; }
  .reviews__title {
    margin-bottom: 24px; }
  .reviews__list {
    z-index: 1;
    width: 905px;
    margin: 0 auto; }
  .reviews__item {
    width: 100%;
    margin-bottom: 0; }
    .reviews__item:last-child {
      margin-bottom: 0; }
  .reviews__slider-wrapper {
    position: absolute;
    top: 35%;
    z-index: 2;
    width: 100%; }
  .reviews__counter {
    display: none; } }

.page-footer__contacts {
  padding: 44px 35px 34px;
  background-color: #8373A1; }

.page-footer__contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 22px; }

.page-footer__copyright {
  padding: 0 35px 43px;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
  background-color: #8373A1; }

.page-footer__rights {
  margin: 0 0 12px; }

.page-footer__year {
  margin-right: 6px; }

.page-footer__link {
  color: rgba(255, 255, 255, 0.5); }

@media (min-width: 768px) {
  .page-footer__contacts {
    padding: 75px 77px 19px; }
  .page-footer__contacts-list {
    margin-bottom: 0; }
  .page-footer__copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 77px;
    padding-bottom: 75px;
    padding-left: 77px; }
  .page-footer__rights {
    margin-right: 32px;
    margin-bottom: 0; } }

@media (min-width: 1440px) {
  .page-footer {
    padding: 70px 0 0;
    overflow-x: hidden;
    background-color: #F2EDFF;
    background-repeat: no-repeat;
    background-size: contain; }
  .webp .lazy.page-footer {
    background-image: none; } }

@media (min-width: 1440px) {
  .webp .page-footer {
    background-image: url("../img/bg-footer-clouds-desktop@1x.webp"); } }
  @media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
    .webp .page-footer {
      background-image: url("../img/bg-footer-clouds-desktop@2x.webp"); } }

@media (min-width: 1440px) {
  .page-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 957px;
    margin: 0 auto;
    padding-bottom: 69px; }
  .page-footer__record {
    -ms-flex-preferred-size: 407px;
        flex-basis: 407px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .page-footer__contacts {
    -ms-flex-preferred-size: 336px;
        flex-basis: 336px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 101px 32px 0;
    background-color: transparent; }
  .page-footer__copyright {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 957px;
    margin: 0 auto;
    padding: 30px 2px 25px 32px; }
    .page-footer__copyright::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -25vw;
      z-index: 0;
      display: block;
      width: 110vw;
      background-color: #8373A1; }
  .page-footer__rights {
    position: relative;
    z-index: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-right: 0;
    margin-left: auto; }
  .page-footer__link {
    position: relative;
    z-index: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-transition: color 0.3s ease-out, text-shadow 0.3s ease-out;
    transition: color 0.3s ease-out, text-shadow 0.3s ease-out; }
    .page-footer__link:hover, .page-footer__link:focus {
      color: #E65C7B;
      text-shadow: 0 3px 4px #8E80A9; }
    .page-footer__link:active {
      color: #412A6E; } }

.record {
  padding: 62px 35px 70px;
  background-color: #F2EDFF;
  background-repeat: no-repeat;
  background-size: cover; }

.webp .lazy.record {
  background-image: none; }

.webp .record {
  background-image: url("../img/bg-footer-clouds-mobile@1x.webp"); }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .webp .record {
      background-image: url("../img/bg-footer-clouds-mobile@2x.webp"); } }

.record__title {
  margin: 0 0 26px;
  font-size: 20px;
  line-height: 27px; }

@media (min-width: 768px) {
  .record {
    padding: 69px 179px 69px 182px; } }

@media (min-width: 768px) {
  .webp .record {
    background-image: url("../img/bg-footer-clouds-tablet@1x.webp"); } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .webp .record {
      background-image: url("../img/bg-footer-clouds-tablet@2x.webp"); } }

@media (min-width: 768px) {
  .record__title {
    margin-bottom: 41px;
    font-size: 30px;
    line-height: 40px; } }

@media (min-width: 1440px) {
  .record {
    padding: 0;
    background-color: transparent; }
  .webp .record {
    background-image: none; }
  .record__title {
    margin-bottom: 40px; } }

.form__label {
  margin-bottom: 27px; }
  .form__label:last-of-type {
    margin-bottom: 34px; }

.form__send-button {
  display: block;
  width: 100%;
  padding: 18px;
  font: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background-color: #E65C7B;
  border: none; }

@media (min-width: 768px) {
  .form__label {
    margin-bottom: 46px; }
    .form__label:last-of-type {
      margin-bottom: 57px; } }

@media (min-width: 1440px) {
  .form__send-button {
    cursor: pointer;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out; }
    .form__send-button:hover, .form__send-button:focus {
      background-color: #412A6E;
      -webkit-animation: pulse-min 0.3s ease-out;
              animation: pulse-min 0.3s ease-out; }
    .form__send-button:active {
      background-color: #E65C7B; } }

.input-data {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #C8C0DB; }

.input-data__field {
  width: 100%;
  padding-right: 10px;
  padding-bottom: 8px;
  font: inherit;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #8E80A9; }
  .input-data__field::-webkit-input-placeholder {
    color: #C8C0DB; }
  .input-data__field::-moz-placeholder {
    color: #C8C0DB; }
  .input-data__field:-ms-input-placeholder {
    color: #C8C0DB; }
  .input-data__field::-ms-input-placeholder {
    color: #C8C0DB; }
  .input-data__field::placeholder {
    color: #C8C0DB; }
  .input-data__field:hover, .input-data__field:focus {
    border-bottom-color: #E65C7B;
    outline: none; }

@media (min-width: 768px) {
  .input-data__field {
    padding-bottom: 5px; } }

.contacts__item {
  margin-bottom: 17px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff; }
  .contacts__item:last-child {
    margin-bottom: 0; }

.contacts__address {
  font-size: 12px;
  font-style: normal; }

.contacts__schedule {
  margin: 0;
  font-size: 12px; }

.contacts__phone {
  display: block;
  color: #ffffff; }

.contacts__mail {
  display: block;
  font-size: 12px;
  color: #ffffff; }

@media (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 334px; }
  .contacts__item {
    margin-bottom: 33px; }
    .contacts__item--address {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .contacts__item--schedule {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .contacts__item--phone {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .contacts__item--mail {
      -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
              order: 4; } }

@media (min-width: 1440px) {
  .contacts {
    background-color: transparent; }
  .contacts__item {
    color: #8E80A9; }
  .contacts__phone {
    color: #8E80A9;
    -webkit-transition: color 0.3s ease-out, text-shadow 0.3s ease-out;
    transition: color 0.3s ease-out, text-shadow 0.3s ease-out; }
    .contacts__phone:hover, .contacts__phone:focus {
      color: #412A6E;
      text-shadow: 0 3px 4px #8E80A9; }
    .contacts__phone:active {
      color: #E65C7B; }
  .contacts__mail {
    color: #8E80A9;
    -webkit-transition: color 0.3s ease-out, text-shadow 0.3s ease-out;
    transition: color 0.3s ease-out, text-shadow 0.3s ease-out; }
    .contacts__mail:hover, .contacts__mail:focus {
      color: #412A6E;
      text-shadow: 0 3px 4px #8E80A9; }
    .contacts__mail:active {
      color: #E65C7B; } }

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .social--header {
    display: none; }
  .social--card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.social__item--reviews {
  margin-right: 7px; }

.social__item--footer {
  margin-right: 25px; }

.social__item:last-child {
  margin-right: 0; }

.social__link {
  display: block;
  line-height: 0; }
  .social__link--card {
    line-height: 120%; }

.social__svg {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
  fill: #ffffff; }
  .social__svg--card {
    fill: #8E80A9; }
  .social__svg--reviews {
    fill: #8E80A9; }

@media (min-width: 768px) {
  .social--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .social--card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .social__item--header {
    margin-right: 5px; }
  .social__item--card {
    margin-right: 8px; }
    .social__item--card:last-child {
      margin-right: 0; }
  .social__item--reviews {
    margin-right: 11px; }
  .social__item--footer {
    margin-right: 12px; }
  .social__item:last-child {
    margin-right: 0; }
  .social__svg--header {
    fill: rgba(142, 128, 169, 0.65); }
  .social__svg--card {
    vertical-align: middle; }
  .social__svg--reviews.social__svg--vk {
    width: 13px;
    height: 8px; }
  .social__svg--reviews.social__svg--twitter {
    width: 15px;
    height: 10.4px; }
  .social__svg--footer.social__svg--vk {
    width: 13px;
    height: 8px; }
  .social__svg--footer.social__svg--twitter {
    width: 15px;
    height: 10.4px; }
  .social__svg--footer.social__svg--facebook {
    width: 5px;
    height: 11px; }
  .social__svg--vk {
    width: 8.3px;
    height: 5.11px; }
  .social__svg--twitter {
    width: 9.63px;
    height: 6.64px; } }

@media (min-width: 1440px) {
  .social--header {
    margin-top: -14px; }
  .social--card {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 5px; }
  .social__item--header {
    margin-right: 12px; }
  .social__item--card {
    margin-right: 0;
    margin-left: 12px; }
    .social__item--card:first-child {
      margin-left: 0; }
  .social__link:hover, .social__link:focus {
    outline: none; }
    .social__link:hover .social__svg, .social__link:focus .social__svg {
      -webkit-animation: pulse 0.4s ease-out;
              animation: pulse 0.4s ease-out;
      fill: #412a6e; }
  .social__link:active .social__svg {
    fill: #E65C7B; }
  .social__svg--header.social__svg--vk {
    width: 13px;
    height: 8px; }
  .social__svg--header.social__svg--twitter {
    width: 15px;
    height: 10.4px; }
  .social__svg--header.social__svg--facebook {
    width: 5px;
    height: 11px; }
  .social__svg--footer {
    fill: #8373A1; }
  .social__svg--vk {
    width: 13px;
    height: 8px; }
  .social__svg--twitter {
    width: 15px;
    height: 10.5px; } }

.section__title {
  font-weight: bold;
  font-size: 18px;
  text-align: center; }

@media (min-width: 768px) {
  .section__title {
    font-size: 21px; } }

@media (min-width: 1440px) {
  .section__title {
    font-size: 30px; } }

.active {
  z-index: 1000; }

.slide-js {
  z-index: 500; }

.visible {
  opacity: 1; }

.non-visible {
  display: none;
  opacity: 0; }

.slideInLeft {
  z-index: 1000;
  -webkit-animation-name: animateInLeft;
          animation-name: animateInLeft; }

.slideInRight {
  z-index: 1000;
  -webkit-animation-name: animateInRight;
          animation-name: animateInRight; }

.slideOutLeft {
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%); }

.slideOutRight {
  -webkit-transform: translateX(120%);
          transform: translateX(120%); }

@-webkit-keyframes animateInLeft {
  0% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@keyframes animateInLeft {
  0% {
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@-webkit-keyframes animateInRight {
  0% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@keyframes animateInRight {
  0% {
    -webkit-transform: translateX(120%);
            transform: translateX(120%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }
