.button {
  background-color: $main-text;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 9px 13px;
  border: none;
  cursor: pointer;

  &--right {
    background-image: url("../img/icon-arrow-right.svg");
  }

  &--left {
    background-image: url("../img/icon-arrow-left.svg");
  }

  &--disabled {
    background-color: transparent;
    border: 1px solid $main-text;
  }

  &--reviews {
    width: 31px;
    height: 16px;

    background-size: 6px 10px;
  }

  &--team {
    position: absolute;
    top: 77px;

    width: 16px;
    height: 31px;

    background-size: 6px 10px;

    &-left {
      left: 15px;
    }

    &-right {
      right: 15px;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    &--card {
      width: 30px;
      height: 20px;
    }

    &--team {
      position: static;
      top: auto;

      width: 29px;
      height: 19px;

      vertical-align: middle;
    }

    &--reviews {
      width: 29px;
      height: 19px;
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    transition: background-color 0.3s ease-out;

    &--card {
      width: 45px;
      height: 30px;
    }

    &--team {
      width: 45px;
      height: 30px;

      background-size: 11px 17px;
    }

    &--reviews {
      position: absolute;

      width: 45px;
      height: 30px;

      background-size: 8px 13px;

      &-left {
        left: -16px;
      }

      &-right {
        right: -22px;
      }
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: $dark-purple;

      animation: pulse-min 0.3s ease-out;
    }

    &:active {
      background-color: $second-text;
    }
  }
}
