.card {
  display: none;

  background-color: $white;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

  &--hatha {
    display: flex;
  }
}

.card__avatar {
  display: block;
  flex-basis: 82px;

  background-color: rgb(78, 78, 78);
}

.card__wrapper {
  display: flex;
  flex-basis: 64%;
  justify-content: space-between;
  padding: 16px 20px 16px 15px;

  background-color: $white;
}

.card__sub-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:last-child {
    margin-top: 4px;
  }
}

.card__info {
  margin: 0;

  color: $second-text;
}

.card__direction {
  margin: 0;
}

.card__watch-link {
  display: none;
}

@media (min-width: $tablet-width) {
  .card {
    position: relative;

    display: flex;

    background-color: transparent;
    box-shadow: none;
  }

  .card__avatar {
    position: absolute;
    top: -36px;
    left: 0;

    flex-basis: auto;
    width: 91px;
  }

  .card__wrapper {
    flex-basis: 100%;
    min-height: 67px;
    margin-left: 15px;
    padding: 11px 12px 6px 83px;

    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
  }

  .card__sub-wrapper {
    &:last-child {
      margin-top: 0;
    }
  }

  .card__watch-link {
    display: block;
    margin-bottom: 5px;

    color: $main-text;

    border-bottom: 1px solid $main-text;
  }
}

@media (min-width: $desktop-width) {
  .card__avatar {
    top: -56px;

    flex-basis: auto;
    width: 143px;
  }

  .card__wrapper {
    min-height: 105px;
    margin-left: 23px;
    padding: 19px 26px 20px 141px;
  }

  .card__info {
    font-size: $font-size-m;
    line-height: 20px;
  }

  .card__direction {
    font-size: $font-size-m;
  }

  .card__watch-link {
    margin-bottom: 0;

    font-size: $font-size-m;

    transition: color 0.3s ease-out, text-shadow 0.3s ease-out;
    backface-visibility: hidden;
    transform: translateZ(0);

    &:hover,
    &:focus {
      color: $dark-purple;
      text-shadow: 0 3px 4px $main-text;
    }

    &:active {
      color: $second-text;
    }
  }
}
