.contacts__item {
  margin-bottom: 17px;

  font-size: $font-size-m + 2px;
  line-height: 20px;
  color: $white;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__address {
  font-size: $font-size-m;
  font-style: normal;
}

.contacts__schedule {
  margin: 0;

  font-size: $font-size-m;
}

.contacts__phone {
  display: block;

  color: $white;
}

.contacts__mail {
  display: block;

  font-size: $font-size-m;
  color: $white;
}

@media (min-width: $tablet-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 334px;
  }

  .contacts__item {
    margin-bottom: 33px;

    &--address {
      order: 1;
    }

    &--schedule {
      order: 3;
    }

    &--phone {
      order: 2;
    }

    &--mail {
      order: 4;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    background-color: transparent;
  }

  .contacts__item {
    color: $main-text;
  }

  .contacts__phone {
    color: $main-text;

    transition: color 0.3s ease-out, text-shadow 0.3s ease-out;

    &:hover,
    &:focus {
      color: $dark-purple;
      text-shadow: 0 3px 4px $main-text;
    }

    &:active {
      color: $second-text;
    }
  }

  .contacts__mail {
    color: $main-text;

    transition: color 0.3s ease-out, text-shadow 0.3s ease-out;

    &:hover,
    &:focus {
      color: $dark-purple;
      text-shadow: 0 3px 4px $main-text;
    }

    &:active {
      color: $second-text;
    }
  }
}
