.directions {
  display: flex;
  flex-direction: column;
  padding: 0 $mobile-indent 37px;

  background-image: url("../img/bg-yoga-patterns-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left 145px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-yoga-patterns-mobile@2x.png");
    background-size: 216px 494px;
  }
}

.directions__title {
  margin: 0 0 38px;
}

.directions__list {
  @include reset-list;
}

.directions__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
}

.directions__picture {
  position: relative;

  width: 100%;
  height: 0;
  padding-bottom: 80%;
  overflow: hidden;
}

.directions__img {
  position: absolute;
  top: 50%;
  left: 50%;

  flex-basis: 100%;
  width: auto;
  height: 100%;

  background-color: rgb(78, 78, 78);
  transform: translate(-50%,-50%);
}

.directions__info-wrapper {
  flex-basis: 83%;
  padding: 16px 20px 15px;

  background-color: $white;
}

.directions__name {
  margin: 0 0 5px;

  font-weight: bold;
  font-size: $font-size-m;
}

.directions__days {
  margin: 0;

  &:last-of-type {
    margin-bottom: 4px;
  }
}

.directions__instructor {
  color: $second-text;
}

.directions__link {
  flex-basis: 17%;
}

.directions__link-more {
  display: none;
}

@media (min-width: $tablet-width) {
  .directions {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 $tablet-indent - 11px 119px $tablet-indent;

    background-image: url("../img/bg-yoga-patterns-tablet@1x.png");
    background-position: left -20px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-yoga-patterns-tablet@2x.png");
      background-size: 693px 397px;
    }
  }

  .directions__title {
    flex-basis: 100%;
    margin-bottom: 40px;
  }

  .directions__list {
    flex-basis: 57%;
  }

  .directions__item {
    position: relative;

    flex-wrap: nowrap;
    margin-bottom: 19px;

    &--main {
      flex-basis: 39.7%;
      flex-wrap: wrap;
      margin-bottom: 0;
    }

    &:nth-last-child(2):not(.directions__item--main) {
      margin-bottom: 39px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .directions__picture {
    width: 42%;
    height: auto;
    padding-bottom: 34%;

    &--main {
      width: 100%;
      padding-bottom: 84%;
    }
  }

  .directions__img {
    height: 101%;

    &--main {
      top: 55%;
      left: 52%;

      height: 110%;
    }
  }

  .directions__info-wrapper {
    flex-basis: 58%;
    padding: 19px 21px 16px;

    &--main {
      flex-basis: 83%;
    }
  }

  .directions__name {
    margin-bottom: 4px;
  }

  .directions__days {

    &:last-of-type {
      margin-bottom: 7px;
    }
  }

  .directions__link {
    position: absolute;
    right: 24px;
    bottom: 24px;

    &--main {
      position: relative;
      right: auto;
      bottom: auto;
    }
  }

  .directions__link-more {
    display: block;
    flex-basis: 100%;
    padding: 9px 9px 9px 0;

    text-align: center;
    color: $main-text;

    background-color: $white;
    box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);
  }
}

@media (min-width: $desktop-width) {
  .directions {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 $desktop-indent 123px $desktop-indent - 35px;

    background-image: url("../img/bg-yoga-patterns-desktop@1x.png");
    background-position: 58% -61px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-yoga-patterns-desktop@2x.png");
      background-size: 1257px 722px;
    }
  }

  .directions__title {
    margin-bottom: 67px;
    margin-left: 30px;
  }

  .directions__item {
    margin-bottom: 28px;

    &:nth-last-child(2):not(.directions__item--main) {
      margin-bottom: 57px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .directions__picture {

    &--main {
      padding-bottom: 85%;
    }
  }

  .directions__img {
    flex-basis: 41.9%;

    &--main {
      top: 50%;
      left: 50%;

      height: 100%;
    }
  }

  .directions__info-wrapper {
    flex-basis: 305px;
    padding: 33px 35px 32px;

    &--main {
      flex-basis: 83%;
      padding: 42px 46px 25px;
    }
  }

  .directions__name {
    margin-bottom: 13px;

    font-size: $font-size-l;
  }

  .directions__days {
    font-size: $font-size-m;
    line-height: 20px;

    &:last-of-type {
      margin-bottom: 15px;
    }
  }

  .directions__instructor {
    font-size: $font-size-m;
  }

  .directions__link {
    right: 36px;
    bottom: 37px;

    &--main {
      right: auto;
      bottom: auto;
    }
  }

  .directions__link-more {
    padding: 16px;

    font-size: $font-size-m;
  }
}
