.month-select {
  display: flex;
  justify-content: space-around;
}

.month-select__radio {
  font-size: 12px;
  color: $second-text;

  &--active {
    border-bottom: 1px solid $second-text;
  }
}

@media (min-width: $tablet-width) {
  .month-select {
    justify-content: space-between;
    width: 38%;
    margin-right: auto;
    margin-left: auto;
  }
}
