.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 19px $mobile-indent 68px;
}

.page-header__toggle {
  margin-left: -20px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  border: none;
}

.page-header__phone {
  margin-right: -20px;

  font-size: $font-size-m;
  color: $main-text;
};

@media (min-width: $tablet-width) {
  .page-header {
    padding: 35px $tablet-indent - 12px 81px $tablet-indent - 2px;
  }

  .page-header__toggle {
    align-self: flex-start;
    margin-left: 0;

    font: inherit;
    font-size: $font-size-m;
    line-height: 20px;
    color: $main-text;
  }

  .page-header__svg {
    width: 13px;
    height: 7px;
    margin-right: 3px;
  }

  .page-header__phone {
    margin-right: 0;

    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 66px 140px 136px 140px;
  }

  .page-header__toggle {
    font-size: $font-size-l;
    line-height: 15px;
  }

  .page-header__svg {
    width: 24px;
    height: 12.5px;
    margin-right: 8px;
  }

  .page-header__phone {
    font-size: $font-size-l;
  }
}
