.page-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 19px $mobile-indent 68px;

  background-image: url("../img/bg-clouds-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__toggle {
  width: 30px;
  height: 13px;
  margin-left: -20px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  border: none;
}

.page-header__phone {
  margin-right: -20px;

  font-size: 12px;
  color: $main-text;
};

@media (min-width: $tablet-width) {
  .page-header {
    padding: 35px $tablet-indent - 12px 82px $tablet-indent - 2px;

    background-image: url("../img/bg-clouds-tablet@1x.png");
  }

  .page-header__toggle {
    align-self: flex-start;
    margin-left: 0;
    padding-left: 19px;

    font: inherit;
    font-size: 12px;
    color: $main-text;

    background-position: left center;
    background-size: 13px 8px;
  }

  .page-header__phone {
    margin-right: 0;
  }
}
