.page-footer__contacts {
  padding: 44px 35px 34px;

  background-color: $purple;
}

.page-footer__contacts-list {
  @include reset-list;

  margin-bottom: 22px;
}

.page-footer__copyright {
  padding: 0 $mobile-indent 43px;

  font-size: $font-size-m;
  line-height: 20px;
  color: rgba($white, 0.5);

  background-color: $purple;
}

.page-footer__rights {
  margin: 0 0 12px;
}

.page-footer__year {
  margin-right: 6px;
}

.page-footer__link {
  color: rgba($white, 0.5);
}

@media (min-width: $tablet-width) {
  .page-footer__contacts {
    padding: 75px 77px 19px;
  }

  .page-footer__contacts-list {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    display: flex;
    padding-right: 77px;
    padding-bottom: 75px;
    padding-left: 77px;
  }

  .page-footer__rights {
    margin-right: 32px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    overflow-x: hidden;
    background-image: url("../img/bg-footer-clouds-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $light-bg;
    padding: 70px 0 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-footer-clouds-desktop@2x.jpg");
    }
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 957px;
    margin: 0 auto;
    padding-bottom: 69px;
  }

  .page-footer__record {
    order: 2;
    flex-basis: 407px;
  }

  .page-footer__contacts {
    order: 1;
    flex-basis: 336px;
    background-color: transparent;
    padding: 101px 32px 0;
  }

  .page-footer__copyright {
    position: relative;
    order: 3;
    width: 957px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 30px 2px 25px 32px;

    &::after {
      content: "";
      position: absolute;
      width: 110vw;
      top: 0;
      left: -25vw;
      bottom: 0;
      background-color: $purple;
      z-index: 0;
    }
  }

  .page-footer__rights {
    position: relative;
    z-index: 1;
    order: 2;
    margin-right: 0;
  }
  .page-footer__link {
    position: relative;
    z-index: 1;
    order: 1;
  }
}
