.page-footer__contacts {
  padding: 44px 35px 34px;

  background-color: $purple;
}

.page-footer__contacts-list {
  @include reset-list;

  margin-bottom: 22px;
}

.page-footer__copyright {
  padding: 0 $mobile-indent 43px;

  font-size: $font-size-m;
  line-height: 20px;
  color: rgba($white, 0.5);

  background-color: $purple;
}

.page-footer__rights {
  margin: 0 0 12px;
}

.page-footer__year {
  margin-right: 6px;
}

.page-footer__link {
  color: rgba($white, 0.5);
}

@media (min-width: $tablet-width) {
  .page-footer__contacts {
    padding: 75px 77px 19px;
  }

  .page-footer__contacts-list {
    margin-bottom: 0;
  }

  .page-footer__copyright {
    display: flex;
    padding-right: 77px;
    padding-bottom: 75px;
    padding-left: 77px;
  }

  .page-footer__rights {
    margin-right: 32px;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    padding: 70px 0 0;
    overflow-x: hidden;

    background-color: $light-bg;
    background-image: url("../img/bg-footer-clouds-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-footer-clouds-desktop@2x.jpg");
    }
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 957px;
    margin: 0 auto;
    padding-bottom: 69px;
  }

  .page-footer__record {
    flex-basis: 407px;
    order: 2;
  }

  .page-footer__contacts {
    flex-basis: 336px;
    order: 1;
    padding: 101px 32px 0;

    background-color: transparent;
  }

  .page-footer__copyright {
    position: relative;

    justify-content: space-between;
    order: 3;
    width: 957px;
    margin: 0 auto;
    padding: 30px 2px 25px 32px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: -25vw;
      z-index: 0;

      display: block;
      width: 110vw;

      background-color: $purple;
    }
  }

  .page-footer__rights {
    position: relative;
    z-index: 1;

    order: 2;
    margin-right: 0;
    margin-left: auto;
  }

  .page-footer__link {
    position: relative;
    z-index: 1;

    order: 1;

    transition: color 0.3s ease-out, text-shadow 0.3s ease-out;

    &:hover,
    &:focus {
      color: $second-text;
      text-shadow: 0 3px 4px $main-text;
    }

    &:active {
      color: $dark-purple;
    }
  }
}
