.record {
  padding: 62px $mobile-indent 70px;

  background-color: $light-bg;
  background-repeat: no-repeat;
  background-size: cover;
}

.no-webp .lazy.record {
  background-image: none;
}

.webp .lazy.record {
  background-image: none;
}

.no-webp .record {
  background-image: url("../img/bg-footer-clouds-mobile@1x.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-footer-clouds-mobile@2x.jpg");
  }
}

.webp .record {
  background-image: url("../img/bg-footer-clouds-mobile@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-footer-clouds-mobile@2x.webp");
  }
}

.record__title {
  margin: 0 0 26px;

  font-size: 20px;
  line-height: 27px;
}

@media (min-width: $tablet-width) {
  .record {
    padding: 69px 179px 69px 182px;
  }

  .no-webp .record {
    background-image: url("../img/bg-footer-clouds-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-footer-clouds-tablet@2x.jpg");
    }
  }

  .webp .record {
    background-image: url("../img/bg-footer-clouds-tablet@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-footer-clouds-tablet@2x.webp");
    }
  }

  .record__title {
    margin-bottom: 41px;

    font-size: 30px;
    line-height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .record {
    padding: 0;

    background-color: transparent;
  }

  .no-webp .record {
    background-image: none;
  }

  .webp .record {
    background-image: none;
  }

  .record__title {
    margin-bottom: 40px;
  }
}
