.record {
  padding: 63px $mobile-indent 70px;

  background-image: url("../img/bg-footer-clouds-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.record__title {
  margin: 0 0 25px;

  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
}

@media (min-width: $tablet-width) {
  .record {
    padding: 69px 174px 69px 182px;

    background-image: url("../img/bg-footer-clouds-tablet@1x.jpg");
  }

  .record__title {
    margin-bottom: 41px;

    font-size: 30px;
    line-height: 40px;
  }
}
