.reviews {
  padding: 0 $mobile-indent 58px;
}
.reviews__title {
  margin: 0 0 38px;
}

.reviews__list {
  margin-bottom: 18px;
}
.reviews__item {
  position: relative;

  margin: 0;
  padding: 60px 15px 30px;

  background-color: $white;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 16px;

    width: 27px;
    height: 23px;

    background-image: url("../img/icon-quotes.svg");
  }
}

.reviews__text {
  margin: 0 0 15px;

  &:last-of-type {
    margin-bottom: 24px;
  }
}

.reviews__wrapper {
  display: flex;
}

.reviews__avatar {
  display: block;
  flex-basis: 10%;
  margin-right: 13px;
}

.reviews__card-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -4px;
}

.reviews__author {
  font-size: 12px;
  line-height: 20px;
  color: $second-text;
  font-style: normal;
}

.reviews__date {
  margin-bottom: 9px;

  color: rgba($main-text, 0.7);
}

.reviews__social-wrapper {
  display: flex;
  align-items: center;
}

.reviews__link {
  display: block;
  margin-right: 11px;

  line-height: 0;
}

.reviews__slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 106px;
  margin: 0 auto;
}

.reviews__counter {
  font-size: 12px;
}

.reviews__end {
  font-size: 10px;
}
