.reviews {
  padding: 0 $mobile-indent 58px;
}

.reviews__title {
  margin: 0;
}

.reviews__list {
  overflow: hidden;
  padding-top: 38px;
  min-height: 375px;
  margin: 0 auto -30px;
  position: relative;
}

.reviews__item {
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  position: absolute;
  padding: 60px 15px 30px;

  background-color: $white;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 16px;

    width: 27px;
    height: 23px;

    background-image: url("../img/icon-quotes.svg");
  }
}

.reviews__text {
  margin: 0 0 15px;

  &:last-of-type {
    margin-bottom: 24px;
  }
}

.reviews__wrapper {
  display: flex;
}

.reviews__picture {
  position: relative;

  flex-basis: 23.8%;
  height: 0;
  margin-right: 13px;
  padding-bottom: 23.3%;
  overflow: hidden;
}

.reviews__avatar {
  position: absolute;
  top: 50%;
  left: 50%;

  flex-basis: 100%;
  width: auto;
  height: 101%;

  transform: translate(-50%,-50%);
}

.reviews__card-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -4px;
}

.reviews__author {
  font-size: $font-size-m;
  line-height: 20px;
  color: $second-text;
  font-style: normal;
}

.reviews__date {
  margin-bottom: 9px;

  color: rgba($main-text, 0.7);
}

.reviews__link {
  display: block;
  margin-right: 11px;

  line-height: 0;
}

.reviews__slider-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 106px;
  margin: 0 auto;
}

.reviews__counter {
  font-size: $font-size-m;
}

.reviews__end {
  font-size: 10px;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding: 0 158px 137px 168px;
  }

  .reviews__title {
    margin-bottom: 1px;
  }

  .reviews__list {
    margin-bottom: -10px;
    min-height: 410px;
  }

  .reviews__item {
    margin: 0 0 18px;
    padding: 72px 55px 30px 87px;

    &::before {
      top: 33px;
      left: 90px;
    }
  }

  .reviews__text {
    margin-bottom: 20px;

    font-size: $font-size-m;
    line-height: 20px;

    &:last-of-type {
      margin-bottom: 22px;
    }
  }

  .reviews__picture {
    flex-basis: 17.4%;
    padding-bottom: 17%;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    position: relative;
    width: 905px;
    margin: 0 auto;
    padding: 0 0 120px;
  }

  .reviews__title {
    margin-bottom: 24px;
  }

  .reviews__list {
    z-index: 1;
    width: 905px;
    margin: 0 auto;
  }

  .reviews__item {
    width: 100%;
    margin-bottom: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .reviews__slider-wrapper {
    z-index: 2;
    position: absolute;
    top: 43.5%;

    width: 100%;
  }

  .reviews__counter {
    display: none;
  }
}
