.active {
  z-index: 1000;
}

.slide-js {
  z-index: 500;
}

.visible {
  opacity: 1;
}

.non-visible {
  display: none;

  opacity: 0;
}

.slideInLeft {
  z-index: 1000;

  animation-name: animateInLeft;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.slideInRight {
  z-index: 1000;

  animation-name: animateInRight;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.slideOutLeft {
  transform: translateX(-120%);
}

.slideOutRight {
  transform: translateX(120%);
}

@keyframes animateInLeft {
  0% {
    transform: translateX(-120%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animateInRight {
  0% {
    transform: translateX(120%);
  }
  100% {
    transform: translateX(0%);
  }
}
