.social {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  &--header {
    display: none;
  }
}

.social__item {
  &--footer {
    margin-right: 25px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  line-height: 0;
}

.social__svg {
  fill: $white;


}

@media (min-width: $tablet-width) {
  .social {
    &--header {
      display: flex;
    }
  }

  .social__item {
    &--header {
      margin-right: 6px;
    }

    &--footer {
      margin-right: 12px;

      & .social__link {
        &--vk {
          & .social__svg {
            width: 13px;
            height: 8px;
          }
        }

        &--twitter {
          & .social__svg {
            width: 15px;
            height: 10.4px;
          }
        }

        &--facebook {
          & .social__svg {
            width: 5px;
            height: 11px;
          }
        }
      }
    }
  }

  .social__svg {
    &--header {
      fill: rgba($main-text, 0.65);
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    &--header {
      margin-top: -14px;
    }
  }

.social__item {
  &--header {
    margin-right: 12px;

    & .social__svg {
      &--vk {
        width: 13px;
        height: 8px;
      }

      &--twitter {
        width: 15px;
        height: 10.4px;
      }

      &--facebook {
        width: 5px;
        height: 11px;
      }
    }
  }
}
}
