.social {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  &--header {
    display: none;
  }

  &--card {
    flex-basis: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}

.social__item {
  &--reviews {
    margin-right: 7px;
  }

  &--footer {
    margin-right: 25px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  line-height: 0;

  &--card {
    line-height: 120%;
  }
}

.social__svg {
  transition: fill 0.3s;
  backface-visibility: hidden;
  transform: translateZ(0);

  fill: $white;

  &--card {
    fill: $main-text;
  }

  &--reviews {
    fill: $main-text;
  }
}

@media (min-width: $tablet-width) {
  .social {
    &--header {
      display: flex;
    }

    &--card {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }

  .social__item {
    &--header {
      margin-right: 5px;
    }

    &--card {
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }
    &--reviews {
      margin-right: 11px;
    }

    &--footer {
      margin-right: 12px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .social__svg {
    &--header {
      fill: rgba($main-text, 0.65);
    }

    &--card {
      vertical-align: middle;
    }

    &--reviews {
      &.social__svg--vk {
        width: 13px;
        height: 8px;
      }

      &.social__svg--twitter {
        width: 15px;
        height: 10.4px;
      }
    }

    &--footer {
      &.social__svg--vk {
        width: 13px;
        height: 8px;
      }

      &.social__svg--twitter {
        width: 15px;
        height: 10.4px;
      }

      &.social__svg--facebook {
        width: 5px;
        height: 11px;
      }
    }

    &--vk {
      width: 8.3px;
      height: 5.11px;
    }

    &--twitter {
      width: 9.63px;
      height: 6.64px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    &--header {
      margin-top: -14px;
    }

    &--card {
      justify-content: flex-end;
      margin-top: 5px;
    }
  }

  .social__item {
    &--header {
      margin-right: 12px;
    }

    &--card {
      margin-right: 0;
      margin-left: 12px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .social__link {
    &:hover,
    &:focus {
      outline: none;

      & .social__svg {
        animation: pulse 0.4s ease-out;

        fill: #412a6e;
      }
    }

    &:active {
      & .social__svg {
        fill: $second-text;
      }
    }
  }

  .social__svg {
    &--header {
      &.social__svg--vk {
        width: 13px;
        height: 8px;
      }

      &.social__svg--twitter {
        width: 15px;
        height: 10.4px;
      }

      &.social__svg--facebook {
        width: 5px;
        height: 11px;
      }
    }

    &--footer {
      fill: $purple;
    }

    &--vk {
      width: 13px;
      height: 8px;
    }

    &--twitter {
      width: 15px;
      height: 10.5px;
    }
  }
}
