.subscriptions {
  padding: 0 $mobile-indent 68px;

  background-image: url("../img/bg-subs-patterns-mobile@1x.png"),
  url("../img/bg-subs-clouds-mobile@1x.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center 107%, center 66%;
  background-size: 100%, 100%;
}

.subscriptions__title {
  margin: 0 0 34px;
}

.subscriptions__form {
  margin-bottom: 30px;
}

.subscriptions__list {
  @include reset-list;
}

.subscriptions__item {
  padding: 24px 51px 30px;

  text-align: center;

  background-color: $white;
  box-shadow: 0 4px 25px rgba(142, 128, 169, 0.2);

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.subscriptions__name {
  margin: 0 0 11px;

  font-weight: bold;
  font-size: 16px;
  line-height: 125%;
}

.subscriptions__time {
  margin: 0 0 10px;

  color: $second-text;
}

.subscriptions__price {
  display: block;
  margin-bottom: 20px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.subscriptions__link {
  display: block;
  padding: 10px 23px 9px;

  color: $white;

  background-color: $main-text;
}

@media (min-width: $tablet-width) {
  .subscriptions {
    padding: 0 $tablet-indent - 11px 128px $tablet-indent;

    background-image: url("../img/bg-subs-patterns-tablet@1x.png"),
    url("../img/bg-subs-clouds-tablet@1x.png");
    background-position: 94% 124%, center -20px;
    background-size: auto, 100%;
  }

  .subscriptions__title {
    margin-bottom: 20px;
  }

  .subscriptions__form {
    margin-bottom: 41px;
  }

  .subscriptions__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .subscriptions__item {
    flex-basis: 28.2%;
    margin-bottom: 0;
    padding: 38px 36px 29px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &--main {
      flex-basis: 35.6%;
      padding-bottom: 38px;
    }
  }

  .subscriptions__name {
    margin-bottom: 7px;

    font-size: 18px;
  }

  .subscriptions__time {
    margin-bottom: 13px;
  }

  .subscriptions__price {
    font-size: 21px;

    &:not(.subscriptions__price--main) {
      margin-bottom: 0;
    }
  }

  .subscriptions__link {
    display: none;

    &--main {
      display: block;
    }
  }
}
