.team {
  position: relative;

  padding: 0 $mobile-indent + 11px 62px;

  background-image: url("../img/bg-team-patterns-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 -10%;
}

.team__title {
  margin: 0 0 37px;
}

.team__list {
  @include reset-list;
}

.team__column-left {
  margin-bottom: 21px;
}

.team__cards-list {
  @include reset-list;
}

.team__instructor-name {
  display: none;
}

.team__skill {
  margin: 0 0 11px;

  color: $second-text;
}

.team__description {
  margin: 0 0 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.team__counter {
  display: none;
}

@media (min-width: $tablet-width) {
  .team {
    padding: 0 $tablet-indent - 11px 137px $tablet-indent;

    background-image: url("../img/bg-team-patterns-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 0 19%;
    background-size: contain;
  }

  .team__title {
    margin-bottom: 72px;
  }

  .team__list {
    margin-bottom: 28px;
  }
  .team__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .team__column-left {
    flex-basis: 271px;
    margin-right: 43px;
    margin-bottom: 0;
  }



  .team__cards-item {
    margin-bottom: 57px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .team__column-right {
    flex-grow: 1;
    flex-basis: 50%;
  }

  .team__instructor-name {
    display: block;
    margin: 0 0 6px;

    font-size: 16px;
  }

  .team__skill {
    font-size: 12px;
  }

  .team__description {
    margin-bottom: 15px;
  }

  .team__buttons-wrapper {
    display: flex;
    align-items: center;
    margin-left: 165px;
  }

  .team__counter {
    display: block;
    margin: 0 12px 0 10px;

    font-size: 12px;
  }

  .team__counter--end {
    font-size: 10px;
  }
}

@media (min-width: $desktop-width) {
  .team {
    background-image: url("../img/bg-subs-patterns-desktop@1x.png"),
    url("../img/bg-team-patterns-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 94% 5%, 0 7%;
    background-size: contain, contain;
    padding: 0 $desktop-indent - 43px 140px $desktop-indent - 43px;
  }

  .team__title {
    margin-right: 45px;
    margin-bottom: 121px;
  }

  .team__list {
    margin-bottom: 44px;
  }

  .team__column-left {
    flex-basis: 422px;
  }

  .team__cards-item {
    margin-bottom: 89px;
  }

  .team__column-right {
    flex-basis: 487px;
    flex-grow: 0;
  }
  .team__instructor-name {
    font-size: 18px;
    margin-bottom: 16px;
  }

  .team__skill {
    font-size: 14px;
    margin-bottom: 27px;
  }

  .team__description {
    font-size: 12px;
    line-height: 20px;
  }

  .team__buttons-wrapper {
    margin-left: 267px;
  }

  .team__counter {
    display: block;
    margin: 0 15px 0 20px;

    font-size: 16px;
  }

  .team__counter--end {
    font-size: 12px;
  }
}
