*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


img {
  width: 100%;
  height: auto;
}

body {
  min-width: $mobile-width;
  margin: 0 auto;

  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  font-family: $font;
  color: $main-text;

  background-color: $main-bg;
  background-image: url("../img/bg-clouds-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-clouds-mobile@2x.png");
  }
}

@media (min-width: $tablet-width) {
  body {
    background-image: url("../img/bg-clouds-tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-clouds-tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  body {
    background-image: url("../img/bg-clouds-desktop@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-clouds-desktop@2x.png");
    }
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.3, 1.3, 1.3);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
