$white: #ffffff;
$black: #000000;


$font: "Open Sans", "Arial", sans-serif;

$mobile-indent: 30px; //используется для отступов (margin-bottom, padding слева и справа)
$tablet-indent: 50px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;

$mobile-width-only: 767px;
$tablet-width-only: 1149px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
